{% block content %}
{% include "header.html" %}
{% set field_size = 33 %}

<div class="container">
    <div class="row main-row">

        <!--MENU-->
        <div class="col-md-7 left-side">
            {% include "menu.html" %}
        </div>

        <!--RIGHT SIDE-->
        <div class="col-md-5 right-side">

            <!--CONTENT-->
            <div class="login-form">
                <h1 class="order-heading"> LOGIN </h1>

                <form action="{{ url_for('login') }}" method="POST" novalidate>
                    {{ form.csrf_token }}
                    <p>
                        {{ form.employee_id(size=field_size, placeholder='Employee ID') }}
                    </p>
                    <p>
                        {{ form.password(size=field_size, placeholder='Password') }}
                    </p>
                    {{ form.submit }}
                </form>
                <br>

                {% for err in form.employee_id.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
                {% for err in form.password.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
                <!--FLASH MESSAGES-->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <span class="flashes">
                    {% for message in messages %}
                    <p class="flash-msg">{{ message }}</p>
                    {% endfor %}
                </span>
                {% endif %}
                {% endwith %}
            </div>


            <!-- END FLASH MESSAGES-->
            <!--END CONTENT-->


        </div>
    </div>
</div>


{% endblock %}