<!-- MENU TABS -->
<div class="menu-box">

{% set order_id = request.args.get("order_id") %}
<ul class="menu-tabs nav nav-tabs nav-fill" id="myTab" role="tablist">

    {% for category in categories: %}

    {% if loop.first %}
    <li class="nav-item" role="presentation">
        <button aria-controls="{{ category.name }}" aria-selected="true" class="nav-link active"
                data-bs-target="#{{ category.name }}" data-bs-toggle="tab" id="{{ category.name }}-tab" role="tab"
                type="button">
            {{ category.name }}

            <!--EDIT OPTIONS-->
            {% if "category" in url_for(request.endpoint): %}
            <a class="menu-buttons remove-button" href="{{url_for('remove_category', category_id=category.id)}}">
                <i class="fas fa-times-circle"></i>
            </a>
            <a class="menu-buttons edit-button" href="{{url_for('edit_category', category_id=category.id)}}">
                <i class="fas fa-pencil-alt"></i>
            </a>
            {% endif %}
            <!--END EDIT OPTIONS-->

        </button>
    </li>

    {% else: %}
    <li class="nav-item" role="presentation">
        <button aria-controls="{{ category.name }}" aria-selected="false" class="nav-link"
                data-bs-target="#{{ category.name }}" data-bs-toggle="tab" id="{{ category.name }}-tab" role="tab"
                type="button">
            {{ category.name }}

            <!--EDIT OPTIONS-->
            {% if "category" in url_for(request.endpoint): %}
            <a class="menu-buttons remove-button" href="{{url_for('remove_category', category_id=category.id)}}">
                <i class="fas fa-times-circle"></i>
            </a>
            <a class="menu-buttons edit-button" href="{{url_for('edit_category', category_id=category.id)}}">
                <i class="fas fa-pencil-alt"></i>
            </a>
            {% endif %}
            <!--END EDIT OPTIONS-->

        </button>
    </li>

    {% endif %}
    {% endfor %}
</ul>



<div class="menu tab-content" id="nav-tabContent">

    {% for category in categories: %}

    <div aria-labelledby="{{ category.name }}-tab" class="tab-pane fade show {% if loop.first %}active{% endif %}"
         id="{{ category.name }}" role="tabpanel">

        {% for section in sections: %}

        {% if section.category.id == category.id: %}
        <!-- SECTION HEADER -->
        <h1 class="menu-section-header">
            {{ section.name }}
        </h1>
        <hr/>
        {% endif %}

        {% for item in menu: %}
        {% if item.category.name == category.name and item.section.name == section.name: %}

        <div class="item">
              <span class="item-name">
                {{ item.name }}
              </span>
            <span class="menu-price">
                {{ item.price }}

                {% if '/complete-order' in url_for(request.endpoint): %}

                <!-- Button trigger modal -->
            <a class="btn menu-buttons add-button" href="{{ url_for( 'complete_order', item_id=item.id, order_id=order_id) }}"
               type="button">
                <i class="fas fa-plus-circle"></i>
            </a>

                {% elif url_for(request.endpoint) == '/update-menu': %}

               <a class="menu-buttons remove-button" href="{{url_for('delete_menu_item', item_id=item.id)}}">
                   <i class="fas fa-times-circle"></i>
               </a>
                <a class="menu-buttons edit-button" href="{{url_for('edit_menu_item', item_id=item.id)}}">
                    <i class="fas fa-pencil-alt"></i>
                </a>

                {% endif %}


              </span>
            <hr class="dots"/>
            <p class="menu-description">
                {{ item.description }}
            </p>
        </div>

        {% endif %}
        {% endfor %}
        {% endfor %}

    </div>
    {% endfor %}
</div>

</div>
