{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="row main-row">

        <!--MENU-->
        <div class="col-md-7 no-padding left-side">
            {% include "menu.html" %}
        </div>

        <!--RIGHT SIDE-->
        <div class="col-md-5 right-side">
            {% include "navbar.html" %}


            <!--CONTENT-->
            {% if 'setup' in url_for(request.endpoint): %}
            <h1 class="right-heading">
                Welcome!
                <span class="settings-subheading">
                    Let's get you setup
                </span>
            </h1>
            {% else: %}
            <h1 class="right-heading">
                SETTINGS
            </h1>
            {% endif %}


            <table class="setup">
                <tr>
                    <td>1</td>
                    <td>
                        <a href="{{ url_for('add_role') }}">
                            {% if 'setup' in url_for(request.endpoint): %}
                            Add
                            {% else: %}
                            Edit
                            {% endif %}Roles
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <a href="{{ url_for('add_user') }}">
                            {% if 'setup' in url_for(request.endpoint): %}
                            Add
                            {% else: %}
                            Edit
                            {% endif %}Users
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <a href="{{ url_for('add_table') }}">
                            {% if 'setup' in url_for(request.endpoint): %}
                            Add
                            {% else: %}
                            Edit
                            {% endif %} Table Names
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <a href="{{ url_for('add_category') }}">
                            {% if 'setup' in url_for(request.endpoint): %}
                            Add
                            {% else: %}
                            Edit
                            {% endif %} Menu Categories
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <a href="{{ url_for('add_item') }}">
                            {% if 'setup' in url_for(request.endpoint): %}
                            Add
                            {% else: %}
                            Edit
                            {% endif %} Menu Items
                        </a>
                    </td>
                </tr>
            </table>

            {% if 'setup' in url_for(request.endpoint): %}
            <a class="next-page" href="{{ url_for('add_role') }}">
                <button class="btn next-btn" type="button">
                    Add Roles
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </a>
            {% endif %}

            <!--END CONTENT-->


        </div>
    </div>
</div>
{% endblock %}