.menu-box {
  max-height: 100%;
  overflow: auto;
}

/* MENU TABS */
.menu-tabs {
  padding: 5px 1% 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #5463FF;
  width: 100%;
  z-index: 1;
}

.nav-link {
  color: black;
  font-weight: bold;
  background-color: #757eff;
  margin: 0 5px;
}

.nav-link:hover {
  color: white;
}

/* MENU CONTENT */
.menu-content {
  padding: 0 2%;
  margin: 0;
}

/* MENU SECTIONS */
.menu-section-header {
  font-size: 1.5rem;
  margin: 2rem 1rem 0;
  font-family: 'Lora', serif;
  color: #219F94;
}

hr {
  margin: 0 auto 1rem;
  width: 100%;
}

/* MENU ITEMS */
.item {
  width: 100%;
  padding-left: 20px;
}

hr.dots {
  border-top: 2px dotted #fefefe;
  width: 95%;
  position: relative;
  top: -0.7rem;
  z-index: -1;
  margin: 0;
}

.item-name {
  font-weight: bold;
  padding-right: 10px;
  font-size: 1.3rem;
  background-color: white;
}

.menu-price {
  font-size: 1.3rem;
  background-color: white;
  position: relative;
  float: right;
  margin: 0 0.8rem;
  padding-left: 10px;
}

.menu-description {
  font-size: 0.9rem;
  margin-right: 5rem;
}
