:root {
  font-size: 17px;
  padding: 0;
  margin: 0;
}

@media (min-width: 1400px) {
  :root {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 24px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  padding: 0.5rem 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

ol li {
  padding: 0.5rem 0;
}

td {
  padding: 0.9rem 0.5rem 0 0;
}

.container {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

.no-show {
  display: none;
}

/* STRUCTURE */
.main-row {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.left-side {
  position: relative;
  height: 100vh;
  padding: 0;
}

.right-side {
  float: right;
  height: 100vh;
  border-left: 2px solid #5463FF;
  padding: 0;
}

/* NAVIGATION */
.navigation {
  padding: 5px 1% 0;
  margin-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navitem {
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  color: #5463FF;
}

/* BUTTONS */
.menu-buttons {
  font-size: 0.6rem;
  padding: 0 0 0 4px;
}

.add-button {
  color: #5463FF;
  font-size: 0.8rem;
}

.cancel-btn {
  background-color: #D82148;
}

.remove-button {
  color: #D82148;
}

.edit-button {
  color: green;
}

.next-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  background-color: #219F94;
  color: white;
}

#submit, .submit-btn, .cancel-btn {
  color: white;
  padding: 2px 2.5rem;
  border: 0;
  border-radius: 5px;
}

#submit, .submit-btn {
  background-color: #5463FF;
}

.btn-close {
  float: right;
  font-size: 1rem;
}

#add {
  background-color: #219F94;
  color: white;
  padding: 2px 2.5rem;
  border: 0;
  border-radius: 5px;
  bottom: 20px;
  position: absolute;
  right: 25px;
}

.show-order-btn {
  font-size: 0.6rem;
  padding-right: 10px;
}

/* IF SCREEN IS TOO SMALL - warning message will appear */
.warning-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 5;
}

.warning-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .warning-screen {
    display: none;
  }
}
