.order-heading {
  font-family: 'Lora', serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 0;
  position: relative;
  width: 75%
}

.start-order-form {
  margin-top: 20%;
  margin-left: 10%;
}

.login-form {
  margin-top: 30%;
  margin-left: 10%;
}

/* START ORDER FORM */
.start-order-user {
  color: #219F94;
  font-weight: bold;
}

.order-logout {
  float: right;
  color: red;
  text-decoration: none;
  font-weight: normal;
}

/* MAIN ORDER VIEW */
.order-items {
  left: 1rem;
  width: 90%;
  position: relative;
  height: 60vh;
}

.oi-container {
  max-height: 100%;
  overflow: auto;
  border: 0.8rem solid #F3F5FF;
  border-left: 0;
  border-bottom: 0;
  background-color: #F3F5FF;
}

.order-item-name {
  font-weight: 600;
}

.order-item-quantity {
  text-align: right;
  font-weight: bold;
}

.order-item-price {
  text-align: right;
  padding-left: 0;
  font-weight: bold;
}

.order-item-notes {
  color: #219F94;
}

.order-item-mods {
  color: #5463FF;
}

.oi-bottom-container {
  border-top: 1px solid black;
  padding: 0rem 3rem;
  width: 90%;
  position: relative;
}

.oi-bottom-row {
  padding: 1rem 0 0;
}

.order-flash {
  text-align: right;
}

/* ADD ORDER ITEM FORM */
.modal-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-padding {
  padding: 8px;
}

.modal-header {
  padding: 0.7rem 2rem 0.3rem;
}

.modal-description {
  padding: 0.5rem 1rem 1rem;
  font-size: 0.9rem;
}

.modal-add {
  height: 2rem;
}

#quantity {
  width: 5rem;
}

#notes {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 90%;
}

#mod1, #mod2, #mod3 {
  width: 100%;
}

/* SHOW ORDERS PAGE */
.show-orders {
  position: relative;
  height: 60vh;
  background-color: #F3F5FF;
  margin-left: 5%;
  margin-bottom: 1rem;
  width: 90%;
}

.show-orders-data {
  max-height: 100%;
  overflow: auto;
  background-color: #F3F5FF;
  padding: 1rem;
}

.orders-header {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.orders-row {
  padding: 15px 0 0;
}
