{% set id = request.args.get("item_id") %}
{% set order_id = request.args.get("order_id") %}

<div class="oi-popup">

    <h5 class="popup-title">
        {{item.name}}

        <span class="popup-price"> $ {{ item.price }} </span>
        <a class="btn-close" href="{{ url_for('complete_order', order_id=order_id) }}" type="button"></a>
    </h5>


    <form action="{{ url_for('complete_order', item_id=id, order_id=order_id) }}" method="POST" novalidate>
        {{ form.csrf_token }}

            <div class="popup-description">
                {{ item.description }}
            </div>

            <div class="container-fluid">

                {% for mod in item.mods: %}
                <div class="row">
                    <div class="col-md-3 form-label popup-padding">
                        {{ mod.name }}
                    </div>
                    <div class="col-md-7 form-field popup-padding ">

                        {% if loop.index == 1: %}
                        {{ form.mod1() }}
                        {% for err in form.mod1.errors %}
                        <p class="form-error-msg">{{ err }}</p>
                        {% endfor %}

                        {% elif loop.index == 2: %}
                        {{ form.mod2() }}
                        {% for err in form.mod2.errors %}
                        <p class="form-error-msg">{{ err }}</p>
                        {% endfor %}

                        {% elif loop.index == 3: %}
                        {{ form.mod3() }}
                        {% for err in form.mod3.errors %}
                        <p class="form-error-msg">{{ err }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                {% for x in range(3 - item.mods|length): %}
                <div class="row no-show">
                    <div class="col-md-3 form-label popup-padding"> HIDDEN</div>
                    <div class="col-md-6 form-field popup-padding ">

                        {% if item.mods|length + loop.index == 1: %}
                        {{ form.mod1() }}
                        {% for err in form.mod1.errors %}
                        <p class="form-error-msg">{{ err }}</p>
                        {% endfor %}

                        {% elif item.mods|length + loop.index == 2: %}
                        {{ form.mod2() }}
                        {% for err in form.mod2.errors %}
                        <p class="form-error-msg">{{ err }}</p>
                        {% endfor %}

                        {% elif item.mods|length + loop.index == 3: %}
                        {{ form.mod3() }}
                        {% for err in form.mod3.errors %}
                        <p class="form-error-msg">{{ err }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}


                <div class="row">
                    <div class="col-md-6 form-field">
                        {{ form.notes(placeholder='Notes for the Chef') }}
                        {% for err in form.notes.errors %}
                        <p class="form-error-msg">{{ err }}</p>
                        {% endfor %}
                    </div>

                    <div class="col-md-6">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 form-label popup-padding">
                                    Quantity
                                </div>
                                <div class="col-md-6 form-field popup-padding">
                                    {{ form.quantity() }}
                                    {% for err in form.notes.errors %}
                                    <p class="form-error-msg">{{ err }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <!--ADD ORDER ITEM BUTTON-->
        {{ form.add }}

    </form>
</div>
