{% set field_size = 33 %}

<div class="login-form">
  <h1 class="order-heading"> LOGIN </h1>

  <form action="{{ url_for('login') }}" method="POST" novalidate>
    {{ form.csrf_token }}
    <p>
      {{ form.employee_id(size=field_size, placeholder='Employee ID') }}
    </p>
    <p>
      {{ form.password(size=field_size, placeholder='Password') }}
    </p>
    {{ form.submit }}
  </form>
  <br>

  {% for err in form.employee_id.errors %}
  <p class="form-error-msg">ID - {{ err }}</p>
  {% endfor %}
  {% for err in form.password.errors %}
  <p class="form-error-msg">Password - {{ err }}</p>
  {% endfor %}
  <!--FLASH MESSAGES-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <span class="flashes">
    {% for message in messages %}
    <p class="flash-msg">{{ message }}</p>
    {% endfor %}
  </span>
  {% endif %}
  {% endwith %}

  <p style="color:gray;">Experiencing issues? <a href="{{url_for('reset')}}">Reset the app.</a></p>
</div>