<h1 class="right-heading">
  Welcome!
  <span class="right-subheading">Setup Roadmap</span>
</h1>

<ol class="settings">
  <li>
    <a href="{{ url_for('add_role') }}">Add Roles</a>
  </li>
  <li>
    <a href="{{ url_for('add_user') }}">Add Users</a>
  </li>
  <li>
    <a href="{{ url_for('add_table') }}">Add Table Names</a>
  </li>
  <li>
    <a href="{{ url_for('add_category') }}">Add Menu Categories</a>
  </li>
  <li>
    <a href="{{ url_for('add_menu_item') }}">Add Menu Items</a>
  </li>
</ol>

<a class="btn next-btn" href="{{ url_for('add_role') }}" type="button">
  Let's go!
  <i class="fas fa-angle-double-right"></i>
</a>