{% block content %}
{% include "header.html" %}

<div class="container">
  <div class="row main-row">

    <!--MENU-->
    <div class="col-md-7 left-side">
      {% include "menu.html" %}
    </div>

    <!--RIGHT SIDE-->
    <div class="col-md-5 right-side">
      {% include "navbar.html" %}

      <!--CONTENT-->
      <h1 class="right-heading">
        SETTINGS
        <span class="right-subheading">
          {% if 'role' in request.url: %}
          Update Roles
          {% else: %}
          Update Tables
          {% endif %}
        </span>
      </h1>

      <div class="role-table-form">

        {% if 'role' in request.url: %}
        <form action="{{ url_for('add_role') }}" method="POST" novalidate>
          {% else: %}
          <form action="{{ url_for('add_table') }}" method="POST" novalidate>
            {% endif %}
            {{ form.csrf_token }}

            <table>
              <tr>
                <td class="form-label"> ADD</td>
                <td class="form-field">
                  {% if 'role' in request.url: %}
                  {{ form.field(size=35, placeholder='i.e. Manager, Server, Kitchen Staff') }}
                  {% else: %}
                  {{ form.field(size=35, placeholder='i.e. Table 1, Round Table, Room 1 Table') }}
                  {% endif %}

                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <!--SUBMIT BUTTON-->
                  {{ form.submit }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  {% for err in form.field.errors %}
                  <p class="form-error-msg">{{ err }}</p>
                  {% endfor %}
                  <!--FLASH MESSAGES-->
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <span class="flashes">
                    {% for message in messages %}
                    <p class="flash-msg">{{ message }}</p>
                    {% endfor %}
                  </span>
                  {% endif %}
                  {% endwith %}
                  <!-- END FLASH MESSAGES-->
                </td>
              </tr>
            </table>
          </form>
      </div>


      {% if 'role' in request.url: %}
      <div class="current-data">
        <h3>
          Current Roles
        </h3>
        <ul class="current-data-list">
          {% for x in roles %}
          <li>
            {{x.name}}
            <a class="menu-buttons remove-button" href="{{url_for('delete_role', id=x.id)}}">
              <i class="fas fa-times-circle"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <a class="btn next-btn" href="{{ url_for('add_user') }}" type="button">
        <i class="fas fa-angle-double-right"></i>
      </a>


      {% else: %}
      <div class="current-data">
        <h3>
          Current Tables
        </h3>
        <ul class="current-data-list">
          {% for x in tables: %}
          {% if x.status != "inactive": %}
          <li>
            {{x.name}}
            {% if x.name != "Take Out": %}
            <a class="menu-buttons remove-button" href="{{url_for('remove_table', id=x.id)}}">
              <i class="fas fa-times-circle"></i>
            </a>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <a class="btn next-btn" href="{{ url_for('add_category') }}" type="button">
        <i class="fas fa-angle-double-right"></i>
      </a>
      {% endif %}
      <!--END CONTENT-->

    </div>
  </div>
</div>
{% include "js.html" %}
<script>
  $("#field").focus()
</script>
{% endblock %}