{% block content %}
{% include "header.html" %}
{% set field_size = 30 %}

<div class="container">
  <div class="row main-row">

    <!--MENU-->
    <div class="col-md-7 left-side">
      {% include "menu.html" %}
    </div>

    <!--RIGHT SIDE-->
    <div class="col-md-5 right-side">
      {% include "navbar.html" %}


      <!--CONTENT-->
      <h1 class="right-heading">
        SETTINGS
        <span class="right-subheading">Update Menu Items</span>
      </h1>

      <div class="item-form">

        {% if 'update' in request.url: %}
        <form action="{{ url_for('add_menu_item') }}" method="POST" novalidate>
          {% else: %}
          <form action="{{ url_for('edit_menu_item', id=item_id) }}" method="POST" novalidate>
            {% endif %}
            {{ form.csrf_token }}
            <table>
              <tr>
                <td class="form-label">Item Name</td>
                <td class="form-field">
                  {{ form.name(size=field_size) }}
                </td>
              </tr>
              <tr>
                <td class="form-label">Price</td>
                <td class="form-field">
                  {{ form.price(size=field_size) }}
                </td>
              </tr>
              <tr>
                <td class="form-label">Category</td>
                <td class="form-field">
                  {{ form.category() }}
                </td>
              </tr>
              <tr>
                <td class="form-label">Section</td>
                <td class="form-field">
                  {{ form.section() }}
                </td>
              </tr>
              <tr>
                <td class="form-label">Description</td>
                <td class="form-field">
                  {{ form.description(size=field_size) }}
                </td>
              </tr>

              <tr>
                <td class="form-field">
                  {{ form.mod1(size=12, placeholder='modification') }}
                </td>
                <td class="form-field">
                  {{ form.vars1(size=field_size, placeholder='variations separated by comma') }}
                </td>
              </tr>
              <tr>
                <td class="form-field">
                  {{ form.mod2(size=12, placeholder='i.e. sweetness') }}
                </td>
                <td class="form-field">
                  {{ form.vars2(size=field_size, placeholder='i.e. lightly sweet, sweet, very sweet') }}
                </td>
              </tr>
              <tr>
                <td class="form-field">
                  {{ form.mod3(size=12, placeholder='i.e. flavor') }}
                </td>
                <td class="form-field">
                  {{ form.vars3(size=field_size, placeholder='i.e. mint, chocolate, taro') }}
                </td>
              </tr>

              <tr>
                <td></td>
                <td>
                  <!--SUBMIT BUTTON-->
                  {{ form.submit }}
                </td>
              </tr>

              <tr>
                <td></td>
                <td>

                  {% for err in form.name.errors %}
                  <p class="form-error-msg">Item Name - {{ err }}</p>
                  {% endfor %}
                  {% for err in form.price.errors %}
                  <p class="form-error-msg">Price - {{ err }}</p>
                  {% endfor %}
                  {% for err in form.category.errors %}
                  <p class="form-error-msg">Category - {{ err }}</p>
                  {% endfor %}
                  {% for err in form.section.errors %}
                  <p class="form-error-msg">Section - {{ err }}</p>
                  {% endfor %}
                  {% for err in form.description.errors %}
                  <p class="form-error-msg">Description - {{ err }}</p>
                  {% endfor %}
                  <!--FLASH MESSAGES-->
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <span class="flashes">
                    {% for message in messages %}
                    <p class="flash-msg">{{ message }}</p>
                    {% endfor %}
                  </span>
                  {% endif %}
                  {% endwith %}
                  <!-- END FLASH MESSAGES-->
                </td>
              </tr>

            </table>
          </form>

      </div>

      <a class="next-page" href="{{ url_for('start_order') }}">
        <button class="btn next-btn" type="button">
          <i class="fas fa-angle-double-right"></i>
        </button>
      </a>
      <!--END CONTENT-->
    </div>
  </div>
</div>



{% include "js.html" %}
<script>
  $("#name").focus()

  function updateSections() {
    let categoryName = $("#category").val();
    fetch('/details/category/' + categoryName).then(function(response) {
      response.json().then(function(data) {
        let options = '';
        for (let i = 0; i < data.sections.length; i++) {
          let section = data.sections[i]
          options += '<option value="' + section + '">' + section + '</option>'
        }
        $("#section").html(options)
      });
    });
  }

  {% if 'update' in request.url: %}
  updateSections();
  {% endif %}

  $("#category").change(updateSections);
</script>
{% endblock %}