{% set field_size = 33 %}

<h1 class="right-heading">
  SETTINGS
  <span class="right-subheading">Update Users</span>
</h1>

<div class="user-form">

  {% if 'add' in request.url: %}
  <form action="{{ url_for('add_user') }}" method="POST" novalidate>
    {% else: %}
    {% set id = request.args.get("id") %}
    <form action="{{ url_for('edit_user', id=id) }}" method="POST" novalidate>
      {% endif %}
      {{ form.csrf_token }}

      <table>
        <tr>
          <td class="form-label">Full Name</td>
          <td class="form-field">
            {{ form.full_name(size=field_size, placeholder='Lin-Manuel Miranda') }}
          </td>
        </tr>
        <tr>
          <td class="form-label">Email</td>
          <td class="form-field">
            {{ form.email(size=field_size, placeholder='lmm@mail.com') }}
          </td>
        </tr>
        <tr>
          <td class="form-label">Password</td>
          <td class="form-field">
            {{ form.password(size=field_size) }}
          </td>
        </tr>
        <tr>
          <td class="form-label">Role</td>
          <td class="form-field">
            {{ form.role() }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            {{ form.submit }}
          </td>
        </tr>

        <tr>
          <td></td>
          <td>

            {% for err in form.full_name.errors %}
            <p class="form-error-msg">First Name - {{ err }}</p>
            {% endfor %}
            {% for err in form.email.errors %}
            <p class="form-error-msg">Email - {{ err }}</p>
            {% endfor %}
            {% for err in form.password.errors %}
            <p class="form-error-msg">Password - {{ err }}</p>
            {% endfor %}
            {% for err in form.role.errors %}
            <p class="form-error-msg">Role - {{ err }}</p>
            {% endfor %}

            <!--FLASH MESSAGES-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <span class="flashes">
              {% for message in messages %}
              <p class="flash-msg">{{ message }}</p>
              {% endfor %}
            </span>
            {% endif %}
            {% endwith %}
            <!-- END FLASH MESSAGES-->

          </td>
        </tr>
      </table>

    </form>
</div>

<div class="current-data user-list">
  <h3>
    Current Users <span style="font-size:0.7rem; font-weight:normal; padding-left:1rem;">Name - Role - ID</span>
  </h3>
  <div class="container-fluid current-data-list">

    {% for x in users: %}
    <div class="row">

      <div class="col-md-5">{{x.full_name}}</div>
      <div class="col-md-4">{{x.role.name}}</div>
      <div class="col-md-3">
        {{x.id}}
        <a class="menu-buttons edit-button" href="{{url_for('edit_user', id=x.id)}}">
          <i class="fas fa-pencil-alt"></i>
        </a>
        {% if x.id != 1: %}
        <a class="menu-buttons remove-button" href="{{url_for('remove_user', id=x.id)}}">
          <i class="fas fa-times-circle"></i>
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<a class="next-page" href="{{ url_for('add_table') }}">
  <button class="btn next-btn" type="button">
    <i class="fas fa-angle-double-right"></i>
  </button>
</a>